.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #f5f5f5;
}
.main .main-items {
    width: 100%;
    overflow: hidden;
    margin-bottom: 3px;
}
.main .main-item {
    margin-right: 3px;
}
.main .main-items:nth-last-child(1) {
    margin-bottom: 0;
}
.main .main-items .main-item:nth-last-child(1) {
    margin-right: 0;
}


.bottom {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.bottom .bottom-item {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #eb4f38;
}
.bottom .muicell:nth-child(1) .bottom-item {
    margin-left: 0px;
}
.bottom .muicell:nth-child(2) .bottom-item {
    margin-left: -40px;
}
.bottom .muicell:nth-child(3) .bottom-item {
    margin-right: -40px;
}
.bottom .muicell:nth-child(4) .bottom-item {
    margin-right: 0px;
}
.bottom .bottom-item img {
    width: 22px;
    height: 22px;
    margin-left: 8px;
    margin-top: 8px;
}

.zan {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    z-index: 99;
    position: absolute;
    opacity: 0.9;
    background-color: #660099;
}
.zan .iconfont {
    color: #fff;
}
.zan-animation {
    transition: opacity 1s linear, transform 1s linear;
}

@font-face {
    font-family: 'iconfont';
    src: url('../../iconfont/iconfont.eot'); /* IE9*/
    src: url('../../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}



